.title {
  text-align: center;
  font-weight: 100;
  font-size: 80px;
}
.search {
  font-weight: 700;
  height: initial;
  width: -webkit-fill-available;
}
.type {
  position: absolute;
  top: 0;
  right: 0;
}
.grani {
  width: 70%;
  height: 40px;
  display: inline-block;
}