.title {
  text-align: center;
  font-weight: 100;
  font-size: 80px;
}

.ffrm {
  display: block;
}

.box {
  background: #fff;
  /* box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3); */
  box-shadow: 0 0 6px 0px;
  display: flex;
  height: 50px;
  align-items: center;
  cursor: text;
}

.pole {
  display: flex;
  justify-content: center;
}

.textInput {
  height: 50px;
  width: 500px;
  font-size: 22px;
}
