.title {
  text-align: center;
  font-weight: 100;
  font-size: 80px;
}
.ffrm{
  display: block;
}
.box{
  background: #fff;
  /* box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3); */
  box-shadow: 0 0 6px 0px;
  display: flex;
  height: 50px;
  align-items: center;
  cursor: text;
}
.pole{
  box-sizing: inherit;
  margin: 45px;
  display: block;
  font-size: inherit;
  height: 10%;
}